{# file: src/Resources/views/default/index.html.twig #}
 
{% extends 'base.html.twig' %}
 
{% block title 'Testprojekt' %}
 
{% block body %}
 
    <h1>Hello {{ exampleParam1 }}! </h1>
     
{% endblock %}