{# page1.html.twig #}
 
{% extends "base.html.twig" %}
 
{% block title %}Seite 1{% endblock %}
 
{% block body %}
    <h2>Seite 1</h2>
    Ein bisschen Blindtext kann nicht schaden ...
    <p>Dies ist <b>die</b> erste Seite</p>
{% endblock %}